.events {
  margin-bottom: 80px;
}

.events__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.event__list-item {
  max-width: 500px;
  min-height: 700px;
  margin-bottom: 49px;

  background-color: var(--white);
}

.event__list-item--hidden {
  display: none;
}

.event__list-item:not(:nth-child(3n+3)) {
  margin-right: 50px;
}

.events__article {
  line-height: 0;
}

.events__picture {
  width: 100%;
}

.events__info {
  position: relative;
  min-height: 400px;
  padding: 13px 17px 40px 50px;


  border: 1px solid var(--light-gray);
  border-top: none;
}

.events__place,
.events__date {
  display: block;

  text-align: right;
  color: var(--gray);
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.events__date {
  margin-bottom: 3px;
}

.events__title {

  margin-bottom: 3px;

  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
}

.events__text {
  max-width: 400px;
  margin-bottom: 82px;

  font-size: 16px;
  line-height: 2;
}

.events__link-more {
  font-size: 16px;
  position: absolute;
  left: 50px;
  bottom: 43px;
  line-height: 1.5;
  color: var(--amethyst);

  border-bottom: 1px solid var(--amethyst);

  transition: font-weight 0.1s linear, color 0.2s linear, border-color 0.2s linear;
}

.events__link-more:hover {
  font-weight: 700;
}

.events__link-more:active {
  color: var(--faux-cadmium);
  border-color: var(--faux-cadmium);
}

.events__inner {
  text-align: center;
  align-items: center;
}

.events__btn {
  padding: 15px 35px;

  color: var(--amethyst);
  line-height: 25px;
  font-weight: 700;
  border: 2px solid var(--amethyst);
  border-radius: 100px;

  transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2 linear;
}

.events__btn:hover {
  background-color: var(--amethyst);
  color: var(--white);
}

.events__btn:active {
  background-color: var(--faux-cadmium);
  border-color: var(--faux-bright);
}

.events__btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px var(--white), 0 0 0 5px var(--light-amethyst);
}
