.projects {
  padding-top: 9px;
}

.projects__text {
  max-width: 1080px;
  margin-bottom: 20px;

  font-size: 16px;
}

.projects__info:hover #ellipse {
  fill: var(--amethyst);
}

.projects__info:hover path {
  fill: var(--white);

}

.projects__info .tooltip {
  max-width: 264px;
  bottom: 100%;
  left: 50%;
  margin-left: -50%;
}

.projects__info .tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--light-gray) transparent transparent transparent;
}

.projects__text-link {
  color: var(--amethyst);
  font-weight: 600;
  transition: border 0.3s linear;
}

.projects__text-link:hover {
  color: var(--amethyst);
  border-bottom: 1px solid var(--amethyst);
}

.projects__text-link:active {
  color: var(--faux-cadmium);
  border-bottom: 1px solid var(--faux-cadmium);
}

.projects__subtitle {
  margin-bottom: 23px;

  font-size: 24px;
  line-height: 32px;
}

.projects__partners {
  position: relative;
}

.projects__slider {
  max-width: 1450px;
}

.projects__list-item {
  max-width: 448px;
  min-height: 148px;
  align-items: center;
  border: 1px solid var(--light-gray);
  transition: border .25s ease;
}

.projects__list-item:hover {
  border-color: var(--amethyst);
}

.projects__link {
  position: relative;
  display: block;
  width: 100%;
  min-height: 150px;
  text-align: center;
  align-items: center;
}

.projects__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .4;
  transition: filter .25s ease, opacity .25s ease, transform .2s ease;
}

.projects__link:hover .projects__img {
  filter: grayscale(0%);
  opacity: 1;
}

.projects__button-prev,
.projects__button-next {
  top: 50%;
  margin-top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--whisper);
  transform: translateY(-50%);

  color: var(--black);
}

.projects__button-prev:focus-visible,
.projects__button-next:focus-visible {
  outline: none;
  border: 2px solid var(--faux-cadmium);
}

.projects__button-prev:hover,
.projects__button-next:hover {
  background-color: var(--amethyst);
}

.projects__button-prev:active,
.projects__button-next:active {
  background-color: var(--faux-cadmium);
  border: 2px solid var(--faux-bright);
}

.projects__button-prev::after,
.projects__button-next::after {
  font-size: 12px;
}

.projects__button-prev {
  left: 0;
}

.projects__button-next {
  right: 0;
}
