:root {
  --white: #fff;
  --amethyst: #9D5CD0;
  --light-amethyst: #C283F3;
  --faux-cadmium: #7943A4;
  --gray: #999;
  --faux-bright: #D1A9F0;
  --dark-charcoal: #333;
  --light-gray: #CACACA;
  --whisper: #ECECEC;
  --black: #000000;
}
